body{
    background-color: rgb(190, 161, 224);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


header {
    border: 1px solid /* criar borda*/
    rebeccapurple/*fundo de cor */
    padding:10px;/*espaçamento interno*/
    text-align: center; /*alinhar conteudo no centro*/
}
main{
    border: 1px solid red;
    padding: 20px;
    margin-top: 30px;/*espaçamento externo do topo*/
}
main p{
    color: aqua;
}
.preto{
    color: black;
}

fieldset{
    display: flex;
    flex-direction: column;
    width: 500px;
}
table{
    border: 1px solid rebeccapurple;
    width: 600px;
}
th{
    background-color: azure;
    /*definir uma cor de fundo para os titulos da tabela*/

    padding: 10px;/*espaçamento interno dos titulos*/
}
td{
    background-color: rgb(124, 99, 182);/*defenir uma cor de fundo para as respostas da tabela*/
    padding: 10px;/*espaçamento interno das palavras*/
}
    footer{
        border: 1px solid royalblue;
        margin-top: 20px;/*espaçamento externo do footer,parte superior*/
    }

